@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>/Basic/Unit 뷰 페이지</h1>

<h2>쿼리스트링 값을 전송</h2>

<a href="/Basic/Quiz?page=1234&Id=1111">퀴즈 페이지로 이동</a>