@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //상단 레이아웃 페이지 지정
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>소개</h1>
